:root {
  --text: #cfcfcf; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #1e1e1e; /* First layer, background only */
  --bg2: #232323; /* Second layer, used in sidebar, header */
  --bg3: rgb(46, 46, 46); /* Thirt layer, used in button etc */
  --bg4: rgb(64, 64, 64); /* Fourth layer, used in hover button etc */

  /* accent */
  --neutral1: #17964a; /* is using on outline, border-color etc */
  --neutral2: #19a651;
  --neutral3: #27ae5d;
  --red: #861832;
  --blue: #1c1291;
  --light-blue: #2658c4;

  /* other */
  --player-bg-containers: color-mix(in srgb, var(--bg4) 80%, transparent);
  --invisible: rgba(0, 0, 0, 0);
  /* is used in player button */
  --black: rgba(0, 0, 0);
}


/* App */

::selection {
  background-color: var(--neutral2);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

::-webkit-scrollbar {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bg3);
}

.Toastify__toast {
  background-color: var(--bg2);
  border-radius: 12px;
  color: var(--text);
  border: 2px solid var(--bg4);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* DialogContext */

.dialog-main-background {
  background-color: rgb(0, 0, 0, 0.5);
}

.dialog-container {
  background-color: var(--bg2);
  border-radius: 12px;
}


/* Buttons */

.button {
  border: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;

  background-color: var(--bg3);
  border-color: var(--bg3);
  color: var(--text);
}

.button:hover {
  border-color: var(--neutral1);
}


/* Input */

.input {
  /*border: none;*/
  border-radius: 8px;
  background-color: var(--bg3);
  color: var(--text);
  border: 3px solid var(--bg3);
  transition: all 0.1s ease;
}

.input:hover {
  border-color: var(--neutral1);
}

.input:focus {
  border-color: var(--neutral1);
}


/* Sidebar */

.sidebar-button, .sidebar-button-min {
  background-color: var(--bg2);
}

.sidebar-container-min,
.sidebar-container-max {
  background-color: var(--bg2);
}

.sidebar-black-line {
  background-color: var(--bg4);
  border-radius: 12px;
}

.sidebar-logo-icon-container {
  background-color: var(--bg2);
}


/* Home */

.home-header {
  background-color: var(--bg2);
}

.home-header-sidebar-placeholder {
  background-color: var(--bg2) !important;
  color: var(--bg2) !important;
  z-index: -1;
}

.home-filter-container {
  background-color: var(--bg2);
  border-radius: 12px;
  border: 2px solid var(--bg3);
}

/* Cards */

.card-container:hover {
  background-color: var(--bg4);
  border-radius: 8px;
}

.card-container {
  transition: transform 0.3s ease;
}

.card-image,
.card-image-placeholder {
  border-radius: 8px;
}

.card-image-placeholder {
  background-color: var(--bg3);
}

.card-delete-icon {
  background-color: var(--bg3);
  border-radius: 50%;
}

.card-delete-icon:hover {
  background-color: var(--bg4);
}


.card-information {
  background-color: var(--bg2);
  border-radius: 12px;
  border: solid 3px var(--neutral1);
}


.card-information-score {
  border-radius: 50%;
  background-color: var(--bg2);
  border: 2px solid var(--neutral1);
}

/* Container */

.container-title,
.container-title-click {
  border-radius: 12px;
}

.container-title-click:hover {
  background-color: var(--bg3);
}

.container-title,
.container-title-click {
  border-radius: 12px;
}

.container-tag {
  border-radius: 6px;
  background-color: var(--neutral2);
  border: 2px solid var(--neutral2);
}


/* Information */

.information-episode-button-watched {
  border-color: var(--neutral1);
}

.information {
  background-color: var(--bg);
  color: var(--text);
}

.information-top {
  background-color: var(--bg2);
  border-radius: 16px;
}

.information-cover {
  border-radius: 16px;
}

.information-cover-placeholder {
  border-radius: 12px;
  background-color: var(--bg3);
}

.information-cover,
.information-cover-placeholder {
  transition: all 0.1s;
}

.information-info {
  background-color: var(--bg2);
  border-radius: 16px;
}

.information-info-content {
  background-color: var(--bg3);
  border-radius: 10px;
}

.information-episodes {
  background-color: var(--bg2);
  border-radius: 16px;
}

.information-characters {
  background-color: var(--bg2);
  border-radius: 16px;
}

.information-characters-card {
  background-color: var(--bg3);
  border-radius: 16px;
}

.information-characters-card:hover {
  background-color: var(--bg4);
}

.information-characters-card-cover {
  border-radius: 16px;
}

.information-exit-button {
  border-radius: 50%;
}

.information-select-episode:hover {
  background-color: var(--bg4);
}

.information-episode-button {
  background-color: var(--bg4);
  border-radius: 8px;
  border: 2px solid var(--bg4);
}

.information-episode-button:hover {
  background-color: var(--bg3);
}

.information-episode-button.watched,
.information-episode-button-full.watched {
  border-color: var(--neutral1);
}

.information-episode-button.watching,
.information-episode-button-full.watching {
  border-color: var(--red);
}

.information-episode-button.current,
.information-episode-button-full.current {
  border-color: var(--blue);
}

.information-select-episode {
  background-color: var(--bg3);
  border-radius: 12px;
}

.information-score {
  background-color: var(--bg);
  border-radius: 50%;
}

.information-title2,
.information-title-small2 {
  color: var(--text-gray);
}

.information-bar {
  background-color: var(--bg2);
  border-radius: 18px;
}

.information-bar-icon {
  border-radius: 50% !important;
}

.information-bottom ::-webkit-scrollbar,
.information-containerwrong-cards ::-webkit-scrollbar,
.information-containerwrong-container ::-webkit-scrollbar {
  background-color: var(--bg2) !important;
}

.information-bottom ::-webkit-scrollbar-thumb,
.information-containerwrong-cards ::-webkit-scrollbar-thumb,
.information-containerwrong-container ::-webkit-scrollbar-thumb {
  background-color: var(--bg3) !important;
}


/* For smaller devices / window sizes */
@media (max-width: 1000px) {
  .information-top {
    border-radius: 0px;
  }

  .information-info {
    border-radius: 0px;
  }

  .information-info-content {
    border-radius: 10px;
  }
}

/* for very small window sizes */
@media (max-width: 600px) {
  .information-info-content {
    border-radius: 10px;
  }
    .information-episodes, .information-characters {
        border-radius: 0px;
    }
}


/* Drop */

.drop-button {
  background-color: var(--bg3);
  border-radius: 12px;
}

.drop-button:hover {
  background-color: var(--bg4);
}

.drop-content {
  background-color: var(--bg3);
  border-radius: 12px;

  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  border: 0px solid var(--bg3);
}

.drop-content-show {
  border-width: 2px 0px 0px 0px;
  border-color: var(--bg4);
}

.active-drop {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


/* DeveloperStats */

.player-dev-container {
  background-color: color-mix(in srgb, var(--bg3) 80%, transparent);
  border-radius: 12px;
}


/* ExternalPlayer */

.external-player-container ::-webkit-scrollbar {
  color: var(--bg3);
  background-color: var(--bg3);
}

.external-player-container ::-webkit-scrollbar-thumb {
  color: var(--bg2);
  background-color: var(--bg2);
}

.external-player-container {
  background-color: var(--bg2);
}

.external-button-container {
  background-color: var(--bg3);
  border-radius: 12px;
}

.external-episodes-container,
.external-leftpanel-container {
  background-color: var(--bg3);
  border-radius: 12px;
}

.external-panelbutton {
  background-color: var(--bg4) !important;
}

.external-panelbutton-bottomtext {
  color: var(--text-gray);
}

.external-leftpanel-topbar {
  border: 2px solid var(--bg4);
}

.external-leftpanel-topbar-button {
  border-radius: 50% !important;
  background-color: var(--bg3) !important;
}

/* Settings */

.settings-page-container {
  background-color: var(--bg2);
  border-radius: 12px;
}

.settings-line {
  background-color: var(--bg3);
  border-radius: 8px;
}

.settings-text-space {
  background-color: var(--bg3);
  border-radius: 12px;
}

.settings-save-content {
  background-color: var(--bg2);
  border-radius: 12px;
  border: 2px solid var(--bg4);
}

.settings-container-extensions {
  background-color: var(--bg2);
  border-radius: 12px;
}

th {
  border: 3px solid var(--bg4);
}

.settings-table-button:hover {
  background-color: var(--bg4);
}

.settings-extensions-background {
  background-color: var(--bg3);
  border-radius: 6px;
}

.settings-special-images:hover {
  background-color: var(--bg4);
}

.settings-table-button {
  border-radius: 12px;
}

.settings-special-images {
  border-radius: 12px;
}


/* Checkbox */

.checkbox {
  background-color: var(--bg3);
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
}

.checkbox::before {
  border-radius: 20px;
  background-color: var(--text);
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.checkbox:checked {
  background-color: var(--neutral1);
}


/* CheckKeybind */

.settings-keybind-check,
.settings-keybind-check-active {
  /* background-color: var(--bg3); */
  border-radius: 12px;
  border: 2px solid rgb(0, 0, 0, 0);
  color: var(--text);
}

.settings-keybind-check:hover {
  border-color: var(--neutral1);
}

.settings-keybind-check-active {
  border-color: var(--neutral1);
}


/* DropDown */


.dropdown-button {
  background-color: var(--bg3);
  border-radius: 8px;
}

.dropdown-button:hover {
  background-color: var(--bg4);
}

.dropdown-button-shadow-text {
  color: var(--text-gray);
}

.dropdown-button-icon {
  color: var(--text);
}

.dropdown-menu {
  background-color: var(--bg3);
  border-radius: 8px;
}

.dropdown-item {
  border-radius: 8px;
}

.dropdown-item:hover {
  background-color: var(--bg2);
}


/* SettingsInput */

.settings-input-container {
  border-radius: 12px;
  /* background-color: var(--bg3); */
}

.settings-input-field, .settings-input-field-hide-type {
  background-color: var(--bg3);
  color: var(--text);
  border-radius: 12px;
  border: 2px solid var(--bg3);
}

.settings-input-field {
  border-right: 0px;
  border-radius: 12px 0px 0px 12px;
}

.settings-input-type {
  background-color: var(--bg3);
  color: var(--text);
  border-radius: 0px 12px 12px 0px;
  border: 2px solid var(--bg3);
  border-left: 0px;
}

.settings-input-container:hover .settings-input-type,
.settings-input-container:hover .settings-input-field,
.settings-input-container:hover .settings-input-field-hide-type {
  background-color: var(--bg4);
}


.settings-input-field:focus,
.settings-input-field:active,
.settings-input-field-hide-type:focus,
.settings-input-field-hide-type:active,
.settings-input-field:focus~.settings-input-type,
.settings-input-field:active~.settings-input-type {
  border-color: var(--neutral1);
}


/* Player */

.player-video-container {
  background-color: var(--black);
  color: var(--text);
}

.player-mask.bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

.player-mask.top {
  top: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
}

.player-time-display {
  border-radius: 60px;
  background-color: var(--player-bg-containers);
  color: var(--text);
}

.player-buttons {
  border: none;
  border: 2px solid var(--invisible);
  color: var(--text);
  background-color: var(--bg3);
  border-radius: 60px;
}

.player-buttons:hover {
  /*background-color: var(--player-bg-containers);*/
  background-color: var(--bg3);
  border-color: var(--neutral1);
  color: var(--text);
}

.player-title {
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--player-bg-containers) 80%, transparent);
  color: var(--text);
}

.player-settings-container {
  border-radius: 8px;
  background-color: var(--bg2);
  color: var(--text);
  border: 2px solid var(--bg4);
}

.player-settings-button,
.player-settings-button-back {
  border-radius: 6px;
  color: var(--text);
}

.player-settings-button-back {
  border: 2px solid var(--bg4);
  border-width: 0px 0px 2px 0px;
}

.player-settings-button:hover,
.player-settings-button-back:hover {
  background-color: var(--bg3);
}

.player-settings-button-text-gray {
  color: var(--text-gray);
}

.player-loading-animation-container {
  border-radius: 12px;
  padding: 12px;
  background-color: var(--player-bg-containers);
}

.player-up-Next-container-var2 {
  background: linear-gradient(to left, var(--bg), rgb(0, 0, 0, 0.2));
  border-radius: 12px !important;
}

.player-up-Next-background {
  outline: 3px solid var(--bg4);
  background-color: var(--bg4);
  border-radius: 12px !important;
}

.player-up-Next-background:hover {
  outline-color: var(--neutral1);
}

.player-up-Next-button-close {
  border-radius: 50%;
  color: var(--text);
  background-color: var(--bg4);
  border: 2px solid var(--bg4);
}


.player-up-Next-button-close:hover {
  border-color: var(--neutral1);
}

.player-up-Next-container {
  background-color: var(--black);
  border-radius: 8px !important;
}

.player-loading-container {
  background-color: black;
}

.player-loading-container-black {
  background-color: rgb(0, 0, 0, 0.4);
}

.player-volume-ui-container {
  background-color: var(--bg2);
  border-radius: 12px;
}

.player-volume-ui-bar-progress {
  background-color: var(--neutral1);
  border-radius: 12px;
}

.player-volume-ui-bar-container {
  background-color: var(--bg3);
  border-radius: 12px;
}

.player-select-episode-void {
  background-color: var(--player-bg-containers);
}

.player-select-episode-container {
  background-color: var(--bg2);
  border-radius: 8px;
  border: 2px solid var(--bg4);
}

.information-episode-button-full {
  border-radius: 12px;
  border: 1px solid var(--invisible);
}

.information-episode-button-full:hover {
  background-color: var(--bg4);
}

.player-subtitle-container {
  color: white;
}

.player-subtitle-content {
  background-color: var(--invisible);
}

.player-skip-chapters-button {
  background-color: var(--bg2);
  color: var(--text);
  border: 2px solid var(--player-bg-containers);
  border-radius: 12px;
}

.player-skip-chapters-button:hover {
  border-color: var(--neutral1);
}

.information-episode-button-image {
  border-radius: 4px;
}


/* Player Button */


.player-button-up-text {
    border-radius: 6px;
}

.player-button-up-text {
    background-color: var(--player-bg-containers);
}


/* Player episode element */


.player-episode-element-background, .player-up-Next-background {
    border-radius: 8px;
}
  
.player-episode-element-container {
    background: linear-gradient(to left, var(--black), rgb(0, 0, 0, 0.3)); 
    border-radius: 8px;
}

/* nerdStats */

.player-nerd-container {
  background-color: var(--player-bg-containers);
  border-radius: 12px;
  color: var(--text);
}


/* SeekBar */
.player-seekbar {
  background-color: var(--player-bg-containers) !important;
}

.player-seekbar:hover {
  transform: scaleY(1.5);
  transition: transform .1s cubic-bezier(0,0,.2,1),-webkit-transform .1s cubic-bezier(0,0,.2,1);
}
.player-seekbar:hover .seekbar-thumb {
  display: none;
}
.player-seekbar .seekbar-box {
  transform: translate(-50%, 10%) scaleY(0.70);
}

.player-seekbar .seekbar-thumbnail {
  transform: translate(-50%, 10%) scaleY(0.70);
}

.seekBar-container {
  background-color: var(--bg3);
  border-radius: 12px;
}

.seekbar-buffer-wrapper {
  border-radius: 12px;
}

.seekbar-thumb {
  border-radius: 50%;
}

.seekbar-box {
  background-color: color-mix(in srgb, var(--bg3) 80%, transparent);
  border-radius: 12px;
}

.seekbar-thumb,
.seekbar-progress,
.seekbar-box.progress {
  background-color: var(--neutral1);
  border-radius: 12px;
}

.seekbar-buffer, .seekbar-chapters {
    background-color: color-mix(in srgb, var(--text) 70%, transparent);
}

.seekbar-chapters {
    background-color: var(--invisible);
}

.seekbar-thumbnail {
    border-radius: 12px;
    background-color: var(--player-bg-containers);
}

.seekbar-chapters-opening-ending {
    background-color: var(--light-blue) !important;
}

/* player seekbar */
.video-bottom .seekBar-container {
  background-color: color-mix(in srgb, var(--bg4) 50%, transparent);
  border-radius: 12px;
}

.video-bottom .seekbar-thumb {
  border-radius: 50%;
}

.video-bottom .seekbar-box {
  background-color: color-mix(in srgb, var(--bg3) 80%, transparent);
  border-radius: 12px;
}

.video-bottom .seekbar-thumb,
.seekbar-progress,
.seekbar-box.progress {
  background-color: var(--neutral1);
  border-radius: 12px;
}


/* ContainerWrong */

.information-containerwrong {
  background-color: var(--bg2);
  border: solid 2px var(--bg3);
  border-radius: 12px;
}

.information-containerwrong-void {
  background-color: color-mix(in srgb, var(--bg) 70%, transparent);
}

.information-containerwrong-exit-button {
  border-radius: 50% !important;
}


/* ContextMenu */


.contextmenu-container {
  background-color: var(--bg3);
  border-radius: 4px;
}

.contextmenu-option:hover {
  background-color: var(--bg4);
}

.contextmenu-option-line {
  background-color: var(--bg2);
  border-radius: 12px;
}

.contextmenu-option-deletion {
  background-color: color-mix(in srgb, rgb(255, 0, 0) 20%, transparent);
}

.contextmenu-option,
.contextmenu-option-deletion {
  border-radius: 4px;
}


/* Help icon */


.help-icon-description {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Welcome Screen */


.welcome-screen-void {
    background-color: color-mix(in srgb, var(--bg) 80%, transparent);
}

.welcome-screen-content {
    background-color: var(--bg2);
    border-radius: 12px;
}


/* Container Wrong */


.information-containerwrong-text-space {
    background-color: var(--neutral1);
    border-radius: 12px;
}

.information-containerwrong-center {
    border: 1px solid white;
}